@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import 'animations';

//Primary Palette
$greyColor: #E5E5E5;

$blueColor: #1990e0;
$orangeColor: #e85223;
$greenColor: #00b798;
$yellowColor: #f1b718;

$purpleColor: #523dd1;
$darkPurpleColor: #3d37b6;
$darkBlueColor: #014b7c;
$darkDarkBlueColor: darken($darkBlueColor, 8%);

$resourceColor: $blueColor;

$buildingColor: $blueColor;
$buildingComp: $blueColor;

$populationColor: $blueColor;

$costColor: $yellowColor;
$boonColor: $greenColor;

$appW: 100%;
$maxAppWidth: 500px;

$topBarH: 91px;
$bottomBarH: 32px;



*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	outline: none;
}

html{
	height: 100%;
}

body, .app{
	height: 100%;
}

body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
	font-size: 11px;
	margin: 0;
	padding: 0;
	// background-color: $darkBlueColor;

	// background-color: lighten($blueColor, 25%);
	// color: $blueColor;
	// @extend .whiteGlow;
}

.whiteGlow{
	background-image: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(229,229,229,0) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
	background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(229,229,229,0) 100%); /* Opera 12+ */
	background-image: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(229,229,229,0) 100%); /* IE10+ */
	background-image: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(229,229,229,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.darkGlow{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app{
	width: $appW;
	max-width: $maxAppWidth;
	margin: 0 auto;
	background-color: lighten($blueColor, 25%);
	color: $blueColor;
	position: relative;

	@extend .whiteGlow;
}

.login, .email-login, .signup{

	position: relative;
	top: 30%;
	transform: translateY(-30%);
	text-align: center;

	h1{
		margin: 0;
		// padding-top: 45px;
		font-size: 42px;
		letter-spacing: -0.06em;
		text-shadow: 0 1px rgba(255, 255, 255, 0.4);
	}
	form{
		max-width: 320px;
		padding: 23px;
		margin: 0 auto;
		@extend .cf;

		input{
			width: 100%;
			height: 30px;
			padding: 0 10px;
			border-radius: 4px;
			border: none;

			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
		}
	}

	button{
		width: 320px;
	}

	.email-login-btn{
		width: 160px;
	}

	.login-options{
		text-align: center;
		margin-top: 33px;
	}

	.main-actions{
		float: right;
		text-align: right;
	}

	.alternate-actions{
		float: left;
		text-align: left;
	}

}

.signup{
	position: absolute;
	top: 0;
}

.game-screens{
	@extend .animate-switch-container;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	.game-screen{
		min-height: 100%;
		padding: 10px 5px;
		padding-top: $topBarH + 10px;
		padding-bottom: $bottomBarH + 10px;
		@extend .animate-switch;
	}
}

.list-item{
	background-color: $darkDarkBlueColor;
	@extend .darkGlow;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	margin-bottom: 10px;
	overflow: hidden;

	-webkit-transition: .5s;
	    	transition: .5s;

	.title{
		height: 31px;
		line-height: 32px;
		font-size: 12px;
		background-color: $blueColor;
		color: white;
		padding: 0 10px;

		-webkit-transition: .5s;
				transition: .5s;
	}

	.details{
		position: relative;
		padding: 10px;
		@extend .cf;
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.variable-width{
	@for $i from 0 through 100 {
    	&.width-#{$i}{
			width: 1% * $i;
		}
	}
}

.btn, button{
	padding: 5px 9px;
	margin: 2px;
	border-radius: 3px;
	background-color: $blueColor;
	border: none;
	display: inline-block;
	color: white;
	line-height: 24px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
	cursor: pointer;

	height: 36px;

	// box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 -1px rgba(255, 255, 255, 0.3) inset;


	&.wide{
		padding-left: 30px;
		padding-right: 30px;
	}

	&:hover{
		background-color: lighten($blueColor, 5%);
	}

	&:active{
		box-shadow: 0 170px 110px -110px rgba(0, 0, 0, 0.1) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
	}

	&:disabled{
		background-color: $darkBlueColor;
		//border: 1px solid rgba($blueColor, .3);
		color: #999;
		text-shadow: none;
		cursor: initial;
		box-shadow: none;
	}

	&.muted{
		background-color: #f9f9f9;
		color: #555;
		text-shadow: none;

		&:hover{
			background-color: #fff;
		}
	}
}

.a-btn{
	padding: 5px 9px;
	margin: 2px;
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}

	&.slim{
		padding-left: 0;
		padding-right: 0;
	}
}

.resource-image{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.cost{
	display: inline-block;
	vertical-align: middle;
	// width: 100px;
	height: 26px;
	margin-left: 7px;

	.cost-display{
		display: inline-block;
		background-color: $costColor;
		border-radius: 0 4px 4px 0;
		position: relative;
		color: #000;
		height: 26px;

		&:after{
			border:13px solid transparent;
			border-right-color: $yellowColor;
			content: " ";
			display: block;
			left: -26px;
			position: absolute;
			top: 0;
		}
	}

	.cost-resource {
	    padding: 2px 5px;
	    line-height: 20px;
	    display: inline-block;

	    img{
	    	height: 20px;
	    	vertical-align: middle;
	    }

	    .cost-amount{
			vertical-align: middle;
			margin-left: 3px;
	    }
	}
}


.boon{
	height: 25px;
	font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3px;
    margin-left: 7px;
    padding: 5px;
    color: lighten($blueColor, 40%);
    line-height: normal;
    float: right;
}

.production-rate{
	&.pos{
		color: $greenColor;
	}
	&.neg{
		color: $orangeColor;
		font-weight: bold;
	}
	.time-frame{
		font-size: 8px;
		margin-left: 1px;
	}
}

.progress-bar {
	$borderRadius: 6px;

    background-color: #013354;
    height: 10px;
    width: 100%;
    border-radius: $borderRadius;
    overflow: hidden;

	.bar {
    	background-color: #1681c9;
    	height: 100%;
    	border-radius: 0 $borderRadius $borderRadius 0;
		
		@extend .variable-width;
	}
    
}

.bottom-bar{
	position: absolute;
	bottom: 0;
	width: $appW;
	z-index: 2;

	.nav-item{
		background-color: darken($orangeColor, 15%);
		display: inline-block;
		color: darken(#FFF, 15%);
		cursor: pointer;
		width: (100%) / 5;
		text-align: center;
		line-height: 32px;
		border-right: 1px solid rgba(0,0,0,.3);
		border-top: 1px solid rgba(0,0,0,.3);
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: bottom;
		box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.1);

		-webkit-transition: all .3s, color .15s;
		   -moz-transition: all .3s, color .15s;
				transition: all .3s, color .15s;

		&.selected{
			background-color: $orangeColor;
			color: white;
			line-height: 36px;
			border-radius: 4px 4px 0 0;
		}
	}
}

.saved-games {
    //background-color: darken($orangeColor, 18%);

    .saved-game, .new-game{
    	background-color: $darkBlueColor;
		border-radius: 10px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		line-height: 35px;
		margin: 10px 0;
		padding: 0 10px;

		&:hover, &.selected{
			background-color: $blueColor;
			color: white;
		}

		.delete-game{
			float: right;

			&:hover{
				color: $yellowColor;
			}
		}
    }
}

.resource-dash {
	background-color: $greyColor;
    color: #333;
    padding: 0;
    text-align: center;
    position: absolute;
	width: $appW;
	z-index: 3;
	top: 0;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);

    .resource{
    	border: 1px solid rgba(0, 0, 0, 0.15);
		border-bottom: none;
		border-left: none;
		// border-radius: 4px;
		//box-shadow: 0 1px rgba(255, 255, 255, 0.15) inset;
		display: inline-block;
		padding: 2px 3px 1px 3px;
		text-align: left;
		vertical-align: top;
		width: 33.3333%;

		.total-display{
			float:left;
		}

		.production-rate{
			clear: both;
			text-align: center;
		}

		.total{
			font-weight: bold;
			font-size: 12px;
			vertical-align: middle;
		}

    	.resource-image{
    		height: 17px;
    		width: 17px;
    		vertical-align: middle;
			margin-right: 2px;
    	}

    	.limit{
    		float: right;
    	}
    }
}

.game-details{
	text-align: center;

	.welcome{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.population{
		margin-bottom: 50px;
		margin-top: 10px;
	}
}

.resources{

	.resource{
		display: inline-block;
		padding: 4px;
		width: $appW/3;
		text-align: center;
		position: relative;
		vertical-align: top;
		margin: 0;
		background: none;

		.resource-content{
			border-radius: 8px;
			min-height: 166px;
			padding: 10px;
			margin: 0;
			line-height: normal;
		}

		.resource-image{
			height: 60px;
			width: 60px;
			vertical-align: middle;
			margin: 12px 0;
		}

		.special-resource{
			color: lighten($blueColor, 30%);
			.special-resource-image{
				height: 15px;
				width: 15px;
				margin-left: 2px;
				vertical-align: middle;
			}
		}

		.gathered-resources{
			position: relative;
			.gathered-resource {
			    left: 0;
			    right: 0;
			    position: absolute;

			    img{
			    	@extend .resource-image;
			    	opacity: 0;
			    	position: relative;
			    }
			}
		}
	}
}

.buildings{
	.building{
		@extend .list-item;

		button{
			text-align: left;
			min-width: 140px;
		}
	}
}

.population{

	.population-details{
		//@extend .list-item;
		padding: 0 10px;
		margin-bottom: 28px;

		.population-display{
			.maximum{
				float: right;
			}

			.progress-bar{
				.bar.width-100{
					background-color: $orangeColor;
				}
			}
		}

		.make-worker-container{
			margin-top: 10px;
	    	margin-left: 17px;
			
			.make-worker{
				width: 172px;
			}
		}

		.unemployed{
			text-align: center;
			margin: 10px;
		}
	}
	
	.jobs{
		.job{
			@extend .list-item;

			.details{
				.job-name{
					display: inline-block;
					width: 100%;
					text-align: center;
					position: absolute;
					left: 0;
					line-height: 40px;
				}

				.job-assignment{
					width: 32px;
					position: relative;
					z-index: 1;
					font-size: 8px;

					&.assign{
						float: right;
					}
					&.relieve{
						float: left;
					}
				}
			}
		}
	}

	.production{
		@extend .boon;
	}

	// .drain{
	// 	font-size: 12px;
	// 	background-color: white;
	//     border-radius: 3px;
	//     display: inline-block;
	//     margin-left: 7px;
	//     padding: 0 5px;
	//     color: $orangeColor;
	//     height: 25px;
	//     line-height: 24px;
	// }
}

.upgrades{
	.upgrade{
		@extend .list-item;

		button{
			text-align: left;
			min-width: 140px;
		}

		&.aquired{
			border-radius: 50px;
			margin: 3px 0;

			.title{
				background-color: $greenColor;
			}
		}
		
	}
}