@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import 'animations';

//Primary Palette
$greyColor: #E5E5E5;

$blueColor: #1681c9;
$orangeColor: #e85223;
$greenColor: #00b798;
$yellowColor: #f1b718;

$purpleColor: #523dd1;
$darkPurpleColor: #3d37b6;
$darkBlueColor: #014b7c;

$resourceColor: $blueColor;

$buildingColor: $blueColor;
$buildingComp: $blueColor;

$populationColor: $blueColor;

$costColor: $yellowColor;
$boonColor: $greenColor;

$appW: 100%;

$topBarH: 91px;



*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html{
	height: 100%;
}

body, .app{
	height: 100%;
}

body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
	font-size: 11px;
	margin: 0;
	padding: 0;
	background-color: $darkBlueColor;
}

.app{
	width: $appW;
	margin: 0 auto;
	background-color: $darkBlueColor;
	color: white;
	position: relative;
	padding-top: $topBarH;
	padding-bottom: 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.bottom-bar{
	position: fixed;
	bottom: 0;
	width: $appW;

	.nav-item{
		background-color: $orangeColor;
		display: inline-block;
		color: #333;
		cursor: pointer;
		width: 25%;
		text-align: center;
		line-height: 25px;
		border-right: 1px solid rgba(0,0,0,.3);
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: bottom;
		box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.1);

		-webkit-transition: all .3s, color .15s;
		   -moz-transition: all .3s, color .15s;
				transition: all .3s, color .15s;

		&.selected{
			//background-color: $orangeColor;
			color: white;
			line-height: 30px;
			border-radius: 4px 4px 0 0;
		}
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.btn, button{
	padding: 5px 9px;
	margin: 2px;
	border: none;
	border-radius: 3px;
	background-color: $blueColor;
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	color: white;
	line-height: 24px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
	cursor: pointer;

	&:disabled{
		background-color: transparent;
		border: 1px solid rgba($blueColor, .3);
		color: #999;
		text-shadow: none;
		cursor: initial;
	}
}

.resource-image{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.cost{
	display: inline-block;
	vertical-align: middle;
	// width: 100px;
	height: 26px;
	margin-left: 7px;

	.cost-display{
		display: inline-block;
		background-color: $costColor;
		border-radius: 0 4px 4px 0;
		position: relative;
		color: #000;
		height: 26px;

		&:after{
			border:13px solid transparent;
			border-right-color: $yellowColor;
			content: " ";
			display: block;
			left: -26px;
			position: absolute;
			top: 0;
		}
	}

	.cost-resource {
	    padding: 2px 5px;
	    line-height: 20px;
	    display: inline-block;

	    img{
	    	height: 20px;
	    	vertical-align: middle;
	    }

	    .cost-amount{
			vertical-align: middle;
			margin-left: 3px;
	    }
	}
}

.boon{
	height: 25px;
	font-size: 12px;
	background-color: $boonColor;
    border-radius: 3px;
    display: inline-block;
    margin-left: 7px;
    padding: 5px;
    color: #000;
    line-height: normal;
}

.production-rate{
	&.pos{
		color: $greenColor;
	}
	&.neg{
		color: $orangeColor;
		font-weight: bold;
	}
	.time-frame{
		font-size: 8px;
		margin-left: 1px;
	}
}

.resources, .population, .buildings{
	//display: inline-block;
	vertical-align: top;
	// width: 304px;
}

.resource-dash {
	background-color: $greyColor;
    color: #333;
    padding: 0;
    text-align: center;
    position: fixed;
	width: $appW;
	height: $topBarH;
	z-index: 2;
	top: 0;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);

    .resource{
    	border: 1px solid rgba(0, 0, 0, 0.15);
		// border-radius: 4px;
		//box-shadow: 0 1px rgba(255, 255, 255, 0.15) inset;
		display: inline-block;
		padding: 2px 7px 1px;
		text-align: left;
		vertical-align: top;
		width: 33.3333%;

		.total-display{
			float:left;
		}

		.production-rate{
			float:right;
		}

		.total{
			font-weight: bold;
			font-size: 14px;
			vertical-align: middle;
		}

    	.resource-image{
    		height: 17px;
    		width: 17px;
    		vertical-align: middle;
			margin-right: 3px;
    	}

    	.limit{
    		clear: both;
    		// text-align: center;
    		//font-size: 8px;
    	}
    }
}

.resources{
	background-color: $darkBlueColor;
	color: white;
	padding: 10px 0;

	.resource{
		display: inline-block;
		padding: 4px;
		width: $appW/3;
		text-align: center;
		position: relative;
		vertical-align: top;
		margin: 0;
		line-height: normal;
		background: none;

		.resource-content{
			background-color: $blueColor;
			border-radius: 8px;
			min-height: 166px;
			padding: 10px;
		}

		.resource-image{
			height: 60px;
			width: 60px;
			vertical-align: middle;
			margin: 20px 0;
		}

		.special-resource{
			color: lighten($blueColor, 30%);
			.special-resource-image{
				height: 15px;
				width: 15px;
				margin-left: 2px;
				vertical-align: middle;
			}
		}

		.gathered-resources{
			position: relative;
			.gathered-resource {
			    left: 0;
			    right: 0;
			    position: absolute;

			    img{
			    	@extend .resource-image;
			    	opacity: 0;
			    	position: relative;
			    }
			}
		}

		button{
			display: block;
			width: 100%;
			margin: 8px 0 4px;
			background-color: $blueColor;
		}
	}
}

.buildings{
	background-color: darken($buildingColor, 18%);
	padding: 10px;

	$bPad: 10px;

	.building{
		background-color: rgba(0, 0, 0, 0.3);
	    border-radius: 4px;
	    margin: 0 0 10px;

	    .title{
	    	height: 31px;
	    	line-height: 32px;
	    	font-size: 12px;
	    	background-color: $blueColor;
	    	padding: 0 $bPad;
	    }

	    .boon{
	    	float: right;
	    	margin-top: 3px;
	    	background: none;
	    	color: lighten($blueColor, 40%);
	    }

		.building-details{
			padding: $bPad;
		}

		button{
			text-align: left;
			min-width: 140px;
		}

		.cost{
			// float:right;
			color: white;
		}
		
	}
}

.population{
	background-color: darken($populationColor, 18%);
	color: white;
	padding: 10px;

	button:enabled{
		background-color: $blueColor;
	}

	.make-worker{
		width: 172px;
	}

	.job{
		.job-name{
			display: inline-block;
			width: 95px;
			text-align: center;
		}
		.job-assignment{
			width: 33px;
		}
	}

	.production{
		@extend .boon;
	}

	.drain{
		font-size: 12px;
		background-color: white;
	    border-radius: 3px;
	    display: inline-block;
	    margin-left: 7px;
	    padding: 0 5px;
	    color: $orangeColor;
	    height: 25px;
	    line-height: 24px;
	}
}