<!DOCTYPE html>
<html ng-app="app" ng-controller="GameCtrl" ng-cloak>
<head>
	<title ng-bind-template="Angular Civ - {{game.currentGame.name}}">Angular Civ</title>

	<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-touch/angular-touch.min.js"></script>
	<script type="text/javascript" src="./js/libs/angular-cookies.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="./bower_components/firebase/firebase.js"></script>
	<script type="text/javascript" src="./bower_components/angularfire/dist/angularfire.min.js"></script>
	<script type="text/javascript" src="./js/libs/jquery-1.11.1.min.js"></script>

	<script type="text/javascript" src="./js/index.js"></script>
	<script type="text/javascript" src="./js/game.js"></script>
	<script type="text/javascript" src="./js/buildings.js"></script>
	<script type="text/javascript" src="./js/resources.js"></script>
	<script type="text/javascript" src="./js/population.js"></script>
	<script type="text/javascript" src="./js/jobs.js"></script>
	<script type="text/javascript" src="./js/upgrades.js"></script>
	<script type="text/javascript" src="./js/filters.js"></script>
	<script type="text/javascript" src="./js/alert_prompt_confirm.js"></script>
	<script type="text/javascript" src="./js/game-elements.js"></script>
	<script type="text/javascript" src="./js/foos.js"></script>

	<link rel="stylesheet" type="text/css" href="css/icon-fonts/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1, minimal-ui">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>
<body>
	
	<div class="login" ng-hide="currentUser">
		<form name="loginForm" ng-submit="login()">
			<p><input type="email" ng-model="login.email" /></p>
			<p><input type="password" ng-model="login.password" /></p>
			<button>Login</button>
		</form>
	</div>

	<div class="app" ng-show="currentUser" ng-swipe-left="nextScreen()" ng-swipe-right="previousScreen()">

		<div class="resource-dash">
			<div class="resource" ng-repeat="r in resources.list">
				<div class="total-display"><img class="resource-image" ng-src="{{r.image}}" alt="" /><span class="total">{{r.total | shortNum}}</span></div>
				<div class="limit" ng-if="r.max"><small>/{{r.max | shortNum}}</small></div>
				<div class="production-rate" ng-if="r.grossRate !== 0" ng-class="{neg:r.grossRate < 0, pos:r.grossRate > 0}">
					<span class="rate">{{r.grossRate | shortNum}}</span><span class="time-frame">/sec</span>
				</div>
			</div>
		</div>
		
		
		<div class="game-screens" ng-switch="selectedScreen">

			<div class="game game-screen" ng-switch-when="Game">
				<h2 class="welcome"><i class="fa fa-bank"></i> Welcome to {{game.currentGame.name}}</h2>
				<p class="population">Population: <strong ng-show="population.total">{{population.total | commaDelimited}}</strong><span ng-show="population.total"> plus </span><strong>You</strong></p>
				<button ng-disabled="false" ng-click="selectScreen('SavedGames')">Select a Different Village</button>
			</div>

			<div class="saved-games game-screen" ng-switch-when="SavedGames">
				<h2>Saved Villages</h2>
				<div class="saved-game" ng-class="{selected: sg == game.currentGame}" ng-repeat="sg in game.savedGames" ng-click="selectScreen(lastScreen); game.switch( sg )">
					<span>{{sg.name}}</span>
					<div class="delete-game" ng-click="$event.stopPropagation(); game.deleteSave( sg )">
						<i class="fa fa-times-circle fa-lg"></i>
					</div>
				</div>
				<div class="new-game" ng-click="selectScreen(lastScreen); game.switch()">+ New Game</div>
			</div>
		
			<div class="resources game-screen" ng-switch-when="Gather">
				<div class="resource" ng-repeat="r in [resources.food, resources.wood, resources.stone]" ng-disable="true" ng-click="collect(r, $event)">
					<button class="resource-content" ng-disabled="r.total >= r.max">
						<div>Gather {{r.name}}</div>
						<div ng-if="r.collectRate > 0">x{{r.collectRate}}</div>
						<div class="gathered-resources">
							<div class="gathered-resource">
								<img  ng-src="{{r.image}}" alt="" />
							</div>
						</div>
						<img class="resource-image" ng-src="{{r.image}}" alt="" />

						<div class="special-resource">{{r.specialChance * 100}}% chance to produce <img class="special-resource-image"ng-src="{{r.specialResource.image}}" alt="{{r.specialResource.name}}"/></div>
					</button>
				</div>
			</div>

			<div class="buildings game-screen" ng-switch-when="Build">
				<div class="building" ng-repeat="b in buildings.list">
					<div class="title">
						<span>{{b.name}}: <strong>{{b.total}}</strong></span>
						<span class="boon" ng-repeat="(name, boon) in b.boons">{{name}} <span ng-repeat="(a,b) in boon">{{a}} +{{b}}</span>{{!$last ? ', ' : ''}}</span>
					</div>
					
					<div class="details">

						<div ng-repeat="amount in (amounts = [1,10,100,1000])" ng-show="b.total >= amount || amount === 1">
							<button ng-disabled="!resources.enough(b.cost, amount)" ng-click="buildBuilding(b, amount)">Build {{amount}} {{b.name}}</button>
							<span class="cost"><span class="cost-display" ng-bind-html="b.cost | displayCost:amount" /></span>
						</div>

					</div>
				</div>
			</div>

			<div class="population game-screen" ng-switch-when="Populate">

				<div class="population-details">
					<h2>Population</h2>

					<div class="population-display">
						<div class="progress-bar">
							<div class="bar width-{{ round((population.total/population.max) * 100) }}"></div>
						</div>
						<span class="current">Current: <strong>{{ population.total }}</strong></span>
						<span class="maximum">Maximum: <strong>{{ population.max }}</strong></span>
					</div>

					<div class="make-worker-container" ng-repeat="amount in (amounts = [1,10,100,1000])" ng-show="population.total >= amount || amount === 1">
						<button class="btn make-worker" ng-disabled="!canMakeWorker(amount)" ng-click="jobs.makeWorker(amount)">Make {{amount === 1 ? '' : amount}} Villager</button>
						<span class="cost">
							<span class="cost-display" ng-bind-html="jobs.unemployed.cost | displayCost:amount"></span>
						</span>
					</div>
				</div>

				<h2 class="unemployed">Unassigned Villagers: {{ jobs.unemployed.total }}</h2>

				<!-- <span class="drain">-1 <img class="resource-image" ng-src="{{resources.food.image}}" />/sec</span> -->

				<div class="jobs">
					<div class="job" ng-repeat="job in workingJobs">
						<div class="title">
							<span>{{job.name}}: <strong>{{job.total}}</strong></span>
							<span class="production" ng-repeat="(name, prod) in job.production">+{{prod}} {{name}} / sec</span>
						</div>
						<div class="details">
							<div class="relieve-btns">

								<button class="btn job-assignment relieve x{{amount}}" 
									ng-repeat="amount in (amounts = [1000,100,10,1])" 
									ng-show="amount === 1 || population.total >= amount" 
									ng-disabled="job.total < amount" 
									ng-click="jobs.relieve(job, amount)">
										-{{amount > 1 ? amount : ''}}
								</button>

							</div>
							<!-- <span class="job-name">{{job.total}}</span> -->
							<div class="assign-btns">

								<button class="btn job-assignment assign x{{amount}}" 
									ng-repeat="amount in (amounts = [1000,100,10,1])" 
									ng-show="amount === 1 || population.total >= amount" 
									ng-disabled="!canAssignWorker(job, amount)" 
									ng-click="jobs.assign(job, amount)">
										+{{amount > 1 ? amount : ''}}
								</button>

							</div>
							<span ng-show="!isEmptyObject(job.cost)" class="cost" ng-bind-html="job.cost | displayCost"></span>
							<!-- <span class="production" ng-repeat="(name, prod) in job.production">+{{prod}} {{name}} / sec</span> -->
						</div>
					</div>
				</div>
			</div>

			<div class="upgrades game-screen" ng-switch-when="Upgrade">
				<div class="upgrade" ng-repeat="u in upgrades.list" ng-class="{aquired: u.total}" ng-show="u.requirementsMet">

					<div class="title">
						<span>{{u.name}}</span>
						<span class="boon" ng-repeat="benefit in u.benefits">{{benefit[0]}}{{!$last ? ', ' : ''}}</span>
					</div>
					
					<div class="details" ng-show="!u.total">
						<button ng-disabled="!resources.enough(u.cost)" ng-click="buyUpgrade(u)">Purchase</button>
						<span class="cost"><span class="cost-display" ng-bind-html="u.cost | displayCost" /></span>
					</div>
					
				</div>
			</div>

		</div>

		<div class="bottom-bar">
			<div class="nav-item" ng-repeat="screen in [screens.game, screens.resources, screens.buildings, screens.population, screens.upgrades]" ng-click="selectScreen(screen)" ng-class="{selected: selectedScreen == screen}">{{screen}}</div>
		</div>

	</div>

</body>
</html>